page-home {

}
.leftpane{
    float: left;
    width: 50%;
    height: 200px;
    padding-right: 5%;
}

.rightpane{
    float: right;
    width: 50%;
    height: 200px;
    border-left: 2px solid;
    border-left-color: blue;
    padding-left: 5%;
    
}
